# Dependencies
node_modules/

# Build and deployment
dist/
.astro/
.wrangler/

# Environment variables
.env
.env.*

# Logs
logs/
*.log
.pnpm-debug.log*

# Testing
test-results/
playwright-report/

# IDE & Editor
.idea/
.vscode/

# Platform specific
.DS_Store

